h1 {
  text-align: center;
  font-size: 3em;
  color: rgb(32, 59, 93);
}

h2 {
  font-size: 1.8em;
  color: rgb(32, 59, 93);
}

h3 {
  font-size: 1.2em;
  line-height: 0em;
  color: rgb(32, 59, 93);
}

li {
  font-size: 1.2em;
  margin-bottom: 0.75em;
  font-weight: 550;
  color: rgb(32, 59, 93);
}

button:hover {
  cursor: pointer;
}

.favorites {
  background-color: rgb(228,250,255,255);
  width: 15em;
  position: fixed;
  top: 4em;
  right: 0;
  padding-bottom: 2em;
  padding-left: 2.5em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.favorites input{
  margin-bottom: 0.9em;
}

.favorites button {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(32, 59, 93);
  background-color: rgb(198,214,43,255);
  border-color: black;
  border-width: 0.15em;
  border-radius: 1em;
  margin-top: 1em;
  padding: 0.5em 1em;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color:rgb(44,176,211,255);
  width: 35em;
  margin: 1.5em;
  padding: 2em;
  border-radius: 1.5em;
}

.item img {
  float: left;
  max-width: 20em;
  max-height: 20em;
  object-fit: cover;
  margin-right: 4em;
}

.item button {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(32, 59, 93);
  background-color: rgb(198,214,43,255);
  border-color:rgb(0, 0, 0);
  border-width: 0.18em;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin-top: 1em;
  margin-right: 1em;
  float: right;
}

.toggle-button {
  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(32, 59, 93);
  background-color: rgb(198,214,43,255);
  border-color:rgb(0, 0, 0);
  border-width: 0.12em;
  border-radius: 0.67em;
  padding: 0.33em 0.67em;
  float: right;
}

label {
  line-height: 0em;
}
