body {
  margin: 0;
  background-image: url('https://github.com/fantasticlion/ReStoreItems/blob/main/src/background.png?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.8; /* Make the background image opaque */
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
