body {
  margin: 0;
  background: linear-gradient(
      rgba(235, 235, 235, 0.6), 
      rgba(235, 235, 235, 0.6)
    ),
    url('https://github.com/fantasticlion/ReStoreItems/blob/main/src/background.png?raw=true') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
